/* Overwrite Bootstrap row margin-right */
.row {
	margin-right: 0px;
}

.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}

.question-content {
	font-size: 16px;
}

.question-panel {
	margin-top: 20px;
	margin-left: 15px;
}

.row .save-and-hint {
	margin-left: -15px;
}

.panel-hint {
	margin-left: 15px;
	margin-top: 5px;
}

.panel-hint p{
	font-size: 14px;
}

.btn-inverse {
	color: white;
	background-color: #2C3E50;
}

.btn-inverse:hover {
	color: white;
}

.panel-hint a {
	color: -webkit-link;
	text-decoration: underline;
}