<section class="container-fluid">
  <ng-include src="header()"></ng-include>
</section>

<section id="alert" ng-if="message.content != ''" style="padding-bottom: 0px">
  <div class="alert" ng-class="'alert-' + message.status">  
    <a class="close" ng-click="resetMessage()">×</a>  
    {{message.content}} 
  </div> 
</section>

<section class="container-fluid row" id="top-content" style="margin-left: 0px; margin-right: 0px;">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-4" id="choose-edu-level">
        <select class="form-control" ng-model="chosenLevel">
          <option value = "">All</option>
          <option ng-cloak ng-repeat="level in eduLevels" value="{{level}}">{{level}}</option>
        </select>
      </div>
      <div class="col-sm-4" id="choose-study-mode">
        <label class="switch-light well" onclick="">
          <input type="checkbox">
          <span>
            <div style="font-weight: normal;">Study Mode</div>
            <span ng-click="changeStudyMode()" ng-repeat="mode in modes">{{mode}}</span>
          </span>

          <a class="btn btn-success"></a>
        </label>
      </div>
      <div class="col-sm-4" id="add-new-subject">
        <select multiple
        chosen
        ng-model="studySubjects"
        ng-options="s.name for s in knowledgeTree | filter: {'eduLevel' : chosenLevel}"
        style="width:80%;"
        data-placeholder="Select subjects to study"
        no-results-text="'Not found'"
        class="chosen-select chosen-rtl">
        <option value=""></option>
      </select>
    </div>

  </div>

  <div class="row" id="knowledge-tree">
    <div class="panel panel-default">
      <div id="chart">
      </div>
    </div>
  </div>

  <div class="row" id="important-item-list">
    <div class="col-sm-12">
      <legend class="search">
        DEADLINE ITEMS
        <button type="button" class="btn btn-default popular-subject active">All</button>
        <!-- Standard button -->
        <button style="margin-right: 5px;" type="button" class="btn btn-default popular-subject" ng-animate="'repeated-item'" data-ng-repeat="subject in studySubjects | filter: {'eduLevel' : chosenLevel}" data-ng-cloak>{{subject.name}}</button>
        <input name="q" style="margin-bottom: 10px;" type="text" placeholder="Search..." />
      </legend>
    </div>
  </div>

  <div class="row">
    <slick slickSlider slides-to-show=4 slides-to-scroll=1>
      <div class="item-to-show" data-ng-repeat="s in deadlineItems" style="display: inline-block; width: 20%; margin-right: 20px;">
        <div data-ng-switch="s.name == undefined">
          <div data-ng-switch-when="true">
            <a data-ng-href="#!/quiz/{{s.id}}"><img src="/images/owl8.jpg"/></a>
            <a data-ng-href="#!/quiz/{{s.id}}">
              <h6>{{s.title}}</h6>
            </a>
            <p style="font-weight: 200; font-size: 12px;">
              Estimated time taken: {{2*s.questions.length}} min
            </p>
          </div>
          <div data-ng-switch-when="false">
            <a data-ng-href="#!/subtopic/{{s.id}}"><img src="/images/owl8.jpg"/></a>
            <a data-ng-href="#!/subtopic/{{s.id}}">
              <h6>{{s.name}}</h6>
            </a>
            <p style="font-weight: 200; font-size: 12px;">
              {{s.description}}
            </p>
          </div>
        </div>
      </div>
    </slick>
  </div>

  <div class="row" id="regular-item-list">
    <div class="col-sm-12">
      <legend class="search">
        REGULAR STUDY ITEMS
        <button type="button" class="btn btn-default popular-subject active">All</button>
        <!-- Standard button -->
        <button type="button" style="margin-right: 5px;" class="btn btn-default popular-subject" data-ng-repeat="subject in studySubjects | filter: {'eduLevel' : chosenLevel}" data-ng-cloak>{{subject.name}}</button>
        <input name="q" style="margin-bottom: 10px;" type="text" placeholder="Search..." />
      </legend>
    </div>
  </div>

  <div class="row">
    <slick slickSlider slides-to-show=4 slides-to-scroll=1>
      <div class="item-to-show" data-ng-repeat="s in getRegularItems() | orderBy: 'recommended'" style="display: inline-block; width: 20%; margin-right: 20px;">
        <div data-ng-switch="s.name == undefined">
          <div data-ng-switch-when="true">
            <a data-ng-href="#!/quiz/{{s.id}}"><img src="/images/owl8.jpg"/></a>
            <a data-ng-href="#!/quiz/{{s.id}}">
              <h6>{{s.title}}</h6>
            </a>
            <p style="font-weight: 200; font-size: 12px;">
              Estimated time taken: {{2*s.questions.length}} min
            </p>
          </div>
          <div data-ng-switch-when="false">
            <a data-ng-href="#!/subtopic/{{s.id}}"><img src="/images/owl8.jpg"/></a>
            <a data-ng-href="#!/subtopic/{{s.id}}">
              <h6>{{s.name}}</h6>
            </a>
            <p style="font-weight: 200; font-size: 12px;">
              {{s.description}}
            </p>
          </div>
        </div>
      </div>
    </slick>
  </div>
  <div class="row" id="current-studying-header">
    <div class="col-sm-12">
      <legend>
        CURRENLY STUDYING SUBJECTS
      </legend>
    </div>
  </div>
  <div class="row" id="current-studying">
    <div ng-repeat="subject in studySubjects | filter: {'eduLevel' : chosenLevel}" class="blockquote-box clearfix">
      <div class="col-sm-2">
        <a data-ng-href="#!/subject/{{subject.id}}">
          <div class="square pull-left" ng-bind-html="subject.representingBox">
          </div>
        </a>
      </div>
      <div class="col-sm-10">
        <a data-ng-href="#!/subject/{{subject.id}}"><h4>
          {{subject.name}}</h4></a>
          <p>
            {{subject.description}}
          </p>
          <p>
            <h5>Progress:</h5>
            <div class="progress">
            <div class="progress-bar" data-ng-class="barColor(countTo(subject.id))" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="min-width:0px;" data-ng-style="{'width': countTo(subject.id) + '%'}">
              <div style="color: black;" class="progresslabel">{{countTo(subject.id)}}%</div>
              </div>
          </div>
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-3" id="right-sidebar">
      <div class="row" id="recommended-items-header">
        <div class="col-sm-12">
          <legend>
            DEADLINES <div class="btn btn-info" ng-click="showAModal()">Add <span class="glyphicon glyphicon-plus"></span></div>
          </legend>
        </div>
      </div>
                        <!--
                        <div>
                          <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
                        </div>
                      -->

                      <div class="row">
                        <div class="col-sm-12" ng-if="deadlines.length === 0">
                          You have no deadline at the moment.Click "Add" to add a new deadline.
                          <span am-time-ago="message.time"></span>
                        </div>
                      </div>
                      <div class="row" data-ng-repeat-start="d in deadlines">
                        <div class="col-sm-4">
                          <div class="date">
                            <p style="font-size: 20px;">8 <span>Dec</span></p>
                          </div>
                        </div>
                        <div class="col-sm-8 container-fluid">
                          <div class="row"><div class="col-sm-12"><h5>{{d.name}}</h5></div></div>
                          <div class="row">
                            <div class="col-sm-12" data-ng-repeat="topic in d.topics">
                              <div class="progress" style="display: inline-block">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="0" style="min-width:0px;" data-ng-style="{'width': getProgressByTopic(topic) + '%'}">
                                  <div class="progresslabel" style="color: black; font-size: 9px;">{{topic.name}} {{getProgressByTopic(topic)}}%</div><br>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" data-ng-repeat-end="" style="padding-top: 20px;">
                        <div class="col-sm-12">
                          <label>Ready Level</label>
                          <div class="progress">
                            <div class="progress-bar" data-ng-class="barColor(d.score)" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="min-width:0px;" data-ng-style="{'width': d.score + '%'}">
                              <div style="color: black;" class="progresslabel">{{d.score}}%</div><br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>

                    <section class="container-fluid" id="bottom-section">
                      <ng-include src="footer()"></ng-include>
                    </section>

