<section class="container-fluid">
  <ng-include src="header()"></ng-include>
</section>

<section class="container-fluid row" id="top-content">
  <div class="col-sm-2" id="sidebar-left">
    <div class="container-fluid">
      <div class="sidebar">
        <div class="mini-submenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <div class="list-group">
          <span href="#" class="list-group-item active">
            <h5 data-ng-cloak>{{subTopic.name}}</h5>
          </span>
          <a class="list-group-item" data-ng-href="#/subject/{{subject.id}}">
            <i class="fa fa-mortar-board"></i> Lectures <span class="badge" ng-model="numberOfSubTopics" data-ng-bind="numberOfSubTopics()"></span>
          </a>
          <a class="list-group-item" data-ng-href="#/subject/{{subject.id}}/quizzes">
            <i class="fa fa-question"></i> Quizzes <span class="badge" data-ng-model="numberOfQuizzes" data-ng-bind="numberOfQuizzes()"></span>
          </a>
          <a data-ng-href="/#!/subject/{{subject.id}}" class="list-group-item">
            <i class="fa fa-long-arrow-left"></i> {{subject.name}}
          </a>
          <a data-ng-if="getOngoingQuizId() != ''" data-ng-href="/#/quiz/{{getOngoingQuizId()}}" class="list-group-item">
            <i class="fa fa-long-arrow-left"></i> Back to Last Ongoing Quiz
          </a>
        </div>        
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="container-fluid">
      <div class="row">
       <div class="col-sm-12">
         <div class="container-fluid">
          <div class="panel panel-default">
            <div id="chart">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 0px; margin-top: 15px;">
        <div class="col-sm-12">
          <div id="bc1" class="btn-group btn-breadcrumb">
            <a href="#/home/" class="btn btn-default"><i class="fa fa-home"></i></a>
            <a data-ng-href="#!/subject/{{subject.id}}" class="btn btn-default" data-ng-bind="subject.name"><div></div></a>
            <a data-ng-href="#!/subtopic/{{subTopic.id}}" data-ng-bind="subTopic.name" class="btn btn-default"><div></div></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="quiz-content" class="col-sm-8">
          <div class="container-fluid" style="margin-top: 15px;">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="panel-title" data-ng-cloak>{{quiz.title}} </h1> 
              </div>
              <div class="panel-body">
                <ng-pdf template-url="views/viewer.html"></ng-pdf>
              </div>

              <div class="panel-footer clearfix">
                <div class="pull-right">
                  <button class="btn btn-default" data-ng-click="zoomIn()"><span>+</span></button>
                  <button class="btn btn-default" data-ng-click="zoomOut()"><span>-</span></button>
                  <span>Page: </span><input class="page-num" type="text" min=1 ng-model="pageNum"><span> / {{pageCount}}</span>
                  <button class="btn btn-default" data-ng-click="goPrevious()"><span>Previous</span></button>
                  <button class="btn btn-default" data-ng-click="goNext()"><span>Next</span></button>
                  <button class="btn btn-success" data-ng-click="done()"><span>I'm Done!</span></button>
                </div>
              </div>
            </div>
          </div>
           <dir-disqus disqus-shortname="idpflow"
                disqus-identifier="{{subTopic.id}}"
                disqus-url="http://glacial-meadow-3111.herokuapp.com/#!/subtopic/{{subTopic.id}}">
              </dir-disqus>
      </div>
      <div class="col-sm-4" id="right-sidebar">
        <div class="row" id="recommended-items-header">
          <div class="col-sm-12">
            <legend>
              RELATED COURSE UNITS
            </legend>
          </div>
        </div>
        <div class="row related-items" data-ng-repeat="unit in getRelatedCourseUnit() | orderBy: 'recommended'">
          <div class="col-sm-5">
            <a data-ng-href="#!/subtopic/{{unit.id}}"><img class="img-responsive" src="/images/owl2.jpg" alt="Lazy Owl Image"></a>
          </div>
          <div class="col-sm-7 recommended-item">
            <h6 class="unit-name"><a data-ng-href="#!/subtopic/{{unit.id}}">{{unit.name}}</a></h6>
            <p>{{unit.description}}</p>
          </div>
        </div>

        <div class="row" id="recommended-items-header">
          <div class="col-sm-12">
            <legend>
              RELATED QUIZZES
            </legend>
          </div>
        </div>
                        <!--
                        <div>
                          <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
                        </div>
                      -->
                      <div class="row related-items" data-ng-repeat="unit in getRelatedQuizzes() | orderBy: 'recommended'">
                        <div class="col-sm-5">
                          <a data-ng-href="#!/quiz/{{unit.id}}"><img class="img-responsive" src="/images/owl2.jpg" alt="Lazy Owl Image"></a>
                        </div>
                        <div class="col-sm-7 recommended-item">
                          <h6 class="unit-name" data-ng-cloak><a data-ng-href="#!/quiz/{{unit.id}}">{{unit.title}}</a></h6>
                          <p data-ng-cloak>Estimated time taken: {{2*unit.questions.length}} min</p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </section>

            <section class="container-fluid" id="bottom-section">
              <ng-include src="footer()"></ng-include>
            </section>

